<!--{% extends 'ShopMenu.html' %}-->
<!--{% block title %}-->
<!--Добавить коллекцию-->
<!--{% endblock %}-->
<!--{% block main %}-->
<!--<div class='catalog'>-->
<!--<form action='/add_coll' method='POST'>-->
<!--	<table align='center'>-->
<!--		<tr>-->
<!--		<td>Название</td>-->
<!--		<td><input type='text' name='title' required></td>-->
<!--		</tr>-->
<!--		<tr>-->
<!--		<td>Ссылка</td>-->
<!--		<td><input type='text' name='link' required></td>-->
<!--		</tr>-->
<!--		<tr>-->
<!--		<td><input type='submit' value='Добавить'></td>-->
<!--		</tr>-->
<!--	</table>-->
<!--</form>-->
<!--</div>-->
<!--{% endblock %}-->
